@use '../var';

@keyframes cubeSize {
    0%, 100% {
        transform: rotateY(45deg) translateY(0.5rem) scaleX(1.2) scaleZ(1.2);
    }
    10%, 95%{
        transform: rotateY(45deg) translateY(0rem) scaleX(1) scaleZ(1);
    } 
}
@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);

    }
}
@keyframes bounce {
    0%, 100% {
        bottom: calc(var.$sizes-cube / 3);
    }
    50%{
        bottom: 6rem;
        animation-timing-function: ease-in;
    }
}
@keyframes shadowBounce {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(2);
        opacity: 0.5;
        animation-timing-function: ease-in;
    } 
}
@keyframes moveBottom {
    0%, 100% {
        transform: rotateX(-90deg) translateZ(1.5rem);
    }
    10%, 95%{
        transform: rotateX(-90deg) translateZ(2rem);
    } 
}